body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: wheat;

}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;


  h1 {
    color: #0069d9;
  }

  h4 {
    color: #666;
  }

  table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;

    tr , th{
      padding: 10px;
      border: 1px solid #ccc;
  }

    th{
      background-color: #f0f0f0;
      color: #333;
    }  
 }



 a {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: #0069d9;
  }
 }

 input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid ;

 }


 #btn_add {
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #2b8a3e;
  }
 }


}